#navbar {
    overflow: hidden;
    background-color:white;
    padding: 2% 1%;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    align-items: center;
  }
  
  .buttons {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: 600;
    transition: 1s;
  }

  #green-button{
    background-color: rgba(48, 141, 39, 0.89);
    color: white;
  }

  #link-logo {
      text-decoration: none;
      position: relative;
      align-items: center;
  }
  
  .logo {
    width: 170px;
  }
  
  #navbar .buttons:hover {
    background-color: #ddd;
    color: rgb(57, 180, 174);
  }
  
  #navbar-right {
    float: right;
  }

  /* toggle */
  @media screen and (max-width: 720px) {
    #navbar-right {display: none;}
    .menu-btn{
        position: relative;
        display: flex;
        justify-content: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid #fff;
        left: 85%;
    }
    
    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: rgb(62, 148, 228);
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    
    .menu-btn__burger::before,
    .menu-btn__burger::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background:rgb(62, 148, 228);
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    
    .menu-btn__burger::before{
        transform: translateY(-16px);
    }
    
    .menu-btn__burger::after{
        transform: translateY(16px);
    }
    
    /* ANIMATION */
    .menu-btn.open .menu-btn__burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    
    .menu-btn.open .menu-btn__burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    
    .menu-btn.open .menu-btn__burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @media screen and (max-width:500px){
    .menu-btn{
      position: relative;
      display: flex;
      justify-content: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      border: 3px solid #fff;
      left: 80%;
    }
  }

  @media screen and (max-width: 336px){
    .menu-btn{
      position: relative;
      display: flex;
      justify-content: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      border: 3px solid #fff;
      left: 0;
      margin-bottom: -30px;
    }
    .logo{
      margin-bottom: 30px;
      margin-left: 15px;
    }

    .menu-btn__burger {
      width: 40px;
      height: 6px;
      background: rgb(62, 148, 228);
      border-radius: 5px;
      box-shadow: 0px 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after{
      content: '';
      position: absolute;
      width: 40px;
      height: 6px;
      background:rgb(62, 148, 228);
      border-radius: 5px;
      box-shadow: 0px 2px 5px rgba(255,101,47,.2);
      transition: all .5s ease-in-out;
  }
  }