<div class = "topnav" id="navbar">
  <a id="link-logo" href="#"><img href="#default" id="logo" src="../../../assets/imgaes/logo-coworking2.JPG"></a>
  <div id="navbar-right">
    <a class = "buttons" routerLink = ''>Home</a>
    <a class = "buttons" routerLink = ''>Contato</a>
    <a class = "buttons" routerLink = ''>Sobre</a>
    <a class = "buttons" routerLink = '/login'>Entrar</a>
    <a class = "buttons" id = "green-button"routerLink = '/registro'>Registre-se</a>
  </div>
  <div class="menu-btn">
    <div class="menu-btn__burger"></div>
  </div>
</div>