<div class="row cols-2">
  <div class="col-lg-4" id="div-left-of-image">
    <h1 id="left-of-image">Espaço para gerenciamento de escritório compartilhado</h1><br>
    <button type="button" class="btn btn-primary btn-lg" routerLink = '/registro'>Quero fazer parte</button>
  </div>
  <div class="col-lg-8">
    <img class = "img-fluid" id = "first-image-main-page" src="../../../assets/imgaes/ambient-ilustration.png">
  </div>
</div>

<!--div responsável pelo conteúdo principal-->
<div class="row"><h1>UMA MANEIRA FÁCIL DE GERENCIAR OS ESPAÇOS COLETIVOS</h1></div>
<div class="row cols-2">
  <div class = "col-lg-4">
    <img class="img-fluid" id = "body-icon-1" src="../../../assets/imgaes/members-manegament.jpg">
  </div>
  <div class="col-lg-8" id="text-body-icons">
    <h2>Calcule taxas de assinatura do membro e o uso de recursos como salas de reuniões e auditórios.</h2>
  </div>
  <div class="col-lg-8" id="text-body-icons">
    <h2>Tenha controle sobre os usuários e suas atividades nas áreas coletivas.</h2>
  </div>
  <div class = "col-lg-4">
    <img class="img-fluid" id = "body-icons" src="../../../assets/imgaes/customer-focus.png">
  </div>
  <div class = "col-lg-4">
    <img class="img-fluid" id = "body-icons" src="../../../assets/imgaes/services-icon.jpeg">
  </div>
  <div class="col-lg-8" id="text-body-icons">
    <h2>Os espaços de coworking precisam de agilidade nas atividades diárias, e nossa plataforma oferece o conforto que precisam.</h2>
  </div>
</div>