.row{
    margin-top: 5% !important;
    background-color: none;
}

#left-of-image{
    padding: 60px 10px;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
}

@media screen and (max-width: 1000px){
    #left-of-image{
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 350px){
    #left-of-image{
        font-size: 30px;
    }
}