<div class="container">
  <div class="caixa-login">
    <img src="../../../assets/imgaes/digital-house-logo.png">
    <div class="forms">
      <form action="/action_page.php">
        <input type="text" name="userName" placeholder="Nome de usuário ou e-mail" [(ngModel)]="userName">
        <input type="password" name="password" placeholder="Senha" [(ngModel)]="userPass">
        
        <!--divs que exibe logado com sucesso ou erros-->
        <div class="row" style="margin: 14px;">
          <div class="alert alert-success col-md-12" role="alert" *ngIf="loginSuccess == true">
            Usuário Logado - Teste
          </div>
          <div class="alert alert-danger col-md-12" role="alert" *ngFor="let erro of errors">
            {{erro}}
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success" (click)="logar()">
              <i class="fa fa-sign-in-alt"></i> Entrar
            </button>
          </div>
        </div>
        <a routerLink="/esqueci-minha-senha"> Esqueci minha senha</a><br />
        <a routerLink="/registro"> Registre-se</a>
      </form>
    </div>
  </div>
</div>