<div class="caixa-login">
  <img src="../../../assets/imgaes/digital-house-logo.png">
  <div class="forms">
    <form action="/action_page.php">
      <input type="text" name="" placeholder="Nome de usuário ou e-mail">
      <input type="password" name="" placeholder="Senha">
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-sign-in-alt"></i> Entrar
          </button>
        </div>
      </div>
      <a routerLink="/esqueci-minha-senha"> Esqueci minha senha</a><br/>
      <a routerLink="/registro"> Registre-se</a>


    </form>
  </div>
</div>